*.ipynb
*.pyc
*.swp
*.ipynb_checkpoints
*.pth.tar
*.pth
*.pkl
*.jpg
.DS_Store
.idea
cocoapi/pycoco/pycocotools/_mask.c
cocoapi/pycoco/pycocotools/_mask.so
data/coco/images/
data/mitstates_data/images
